$primary-blue-1: #d5edff;
$primary-blue-2: #a0cbeb;
$primary-blue-3: #6ba9d7;
$primary-blue-4: #3587c2;
$primary-blue-5: #0065ae;
$primary-blue-6: #00518c;
$primary-blue-7: #003d6a;
$primary-blue-8: #002947;
$primary-blue-9: #001525;

$neutral-1: #fefefe;
$neutral-2: #f9fafa;
$neutral-3: #f5f5f6;
$neutral-4: #f0f1f2;
$neutral-5: #e2e4e6;
$neutral-6: #d4d7da;
$neutral-7: #c5cace;
$neutral-8: #b7bdc2;
$neutral-9: #a9b0b6;
$neutral-10: #8e9499;
$neutral-11: #73787c;
$neutral-12: #595d60;
$neutral-13: #3e4143;
$neutral-14: #232526;
$neutral-15: #080909;

// export const red = [
//     '#FFECEB',
//     '#FFA09D',
//     '#FF544E',
//     '#FF0800',
//     '#BE0600',
//     '#7C0400',
//     '#3B0200',
// ];

// export const yellow = [
//     '#FFFCEB',
//     '#FFEE9D',
//     '#FFE14E',
//     '#FFD300',
//     '#CBA800',
//     '#967C00',
//     '#625100',
// ];

// export const green = [
//     '#ECFAEC',
//     '#A9D5A9',
//     '#65B065',
//     '#228B22',
//     '#1C711C',
//     '#155615',
//     '#0F3C0F',
// ];

// export const blue = [
//     '#E6F0FE', // 1
//     '#9BC1F4', // 2
//     '#5092EA', // 3
//     '#0563E0', // 4
//     '#044CAD', // 5
//     '#03367A', // 6
//     '#021F47', // 7
// ];

// export const orange = [
//     '#FFEADB', // 1
//     '#FFC39A', // 2
//     '#FF9C58', // 3
//     '#FF7417', // 4
//     '#BF560F', // 5
//     '#7E3808', // 6
//     '#3E1900', // 7
// ];
