@use 'colors' as *;

/* Auto Layout */

.styled-button {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  padding: 4px 16px;

  /* Inside Auto Layout */

  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 0px 8px;
  border-radius: 5px;

  font-size: 16px;

  &:hover {
    cursor: pointer;
  }
}

.styled-button--primary {
  color: $neutral-1;
  background: $primary-blue-5;

  &:hover {
    background: $primary-blue-7;
  }
}

.styled-button--secondary {
  color: $neutral-12;
  background: $neutral-5;
  border: 1px solid #d4d7da;

  &:hover {
    background: $neutral-7;
  }
}
